<div class="todo-container">
  <h1>Nitaj Todo List</h1>
  <div class="add-todo">
    <input [(ngModel)]="newTodoTitle" placeholder="New Todo" />
    <button (click)="addTodo()">Add</button>
  </div>

  <div class="todo-sections">
    <div class="todo-section">
      <h2>Pending</h2>
      <ul>
        <li *ngFor="let todo of todos" [class.completed]="todo.isCompleted === false">
          <span>{{ todo.title }}</span>
          <span class="date">{{ todo.createdDate | date:'medium' }}</span>
          <button *ngIf="!todo.isCompleted" (click)="completeTodo(todo)">Complete</button>
        </li>
      </ul>
    </div>

    <div class="todo-section">
      <h2>Completed</h2>
      <ul>
        <li *ngFor="let todo of todos" [class.completed]="todo.isCompleted === true">
          <span>{{ todo.title }}</span>
          <span class="date">{{ todo.createdDate | date:'medium' }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<footer style="background-color: gray; padding: 15px; font-size: 20px; position: fixed; bottom: 0 !important; width: 100%; left: 0;">
  <a href="https://www.linkedin.com/in/eslamkholeef/" 
    style="text-align: center; text-decoration: none; display: block;color: white !important;"
    class="animate__animated animate__jello animate__infinite	animate__slow"
    target="_blank"
    >
    ⇒ Provided By Me, With Love ❤️
  </a>
</footer>